$background: #4d4d4d;
$width: 65%;
$font: raleway, sans-serif;
$fontSize: 1em;
$padding: 15%;


@mixin padding($top, $bottom, $width) {
  padding: $top #{(100-$width)/2} $bottom #{(100-$width)/2};
}

// basic function for fonts
@mixin font($font, $style, $weight) {
  src: url("fonts/#{$font}/#{$font}-#{$style}.eot");
  font-family: $font;
  src:
    url("fonts/#{$font}/#{$font}-#{$style}.eot?##{$font}") format("embedded-opentype"),
    url("fonts/#{$font}/#{$font}-#{$style}.woff") format("woff"),
    url("fonts/#{$font}/#{$font}-#{$style}.ttf") format("truetype"),
    url("fonts/#{$font}/#{$font}-#{$style}.svg##{$font}") format("svg");
  font-style: normal;
  font-weight: $weight;
  text-rendering: optimizeLegibility;
}

// fonts: Raleway + ChunkFive

@font-face {
  @include font(raleway, regular, 400);
}

@font-face {
  @include font(raleway, bold, 700);
}

@font-face {
  @include font(chunkfive, webfont, 700);
}

* {
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: $font;
  font-size: $fontSize;
  margin: 2% auto 2% auto;
  padding: 0px;
  width: $width;
  box-shadow: 2px 3px 24px 2px #333;
}

nav {
  background: #333;
  padding: 0px $padding 0px $padding;
  border-bottom: 8px solid #1892b1;

  ul {
    display: inline;
    padding: 0px;
    width: 100%;
  }

  li {
    display: inline-block;
    margin-right: 5px;
    transition: background 0.3s ease;

    a {
      display: block;
      color: #ccc;
      text-decoration: none;
      padding: 10px 15px 10px 15px;

      &:hover {
        color: #fff;
      }
    }

  
  }

  li:hover, li.active a {
    background: #1892b1;
    color: #fff
  }
}

header {
  padding: 50px $padding 30px $padding;
  background: #333;
  overflow: auto;

  .logo {
    vertical-align: middle;
    display: inline;
    width: auto;

    svg {
      vertical-align: middle;
      width: 10%;
      margin-right: 2%
    }

    &:hover span {
        color: #1892b1;
      }

    span {
      vertical-align: middle;
      font-size: 2em;
      font-weight: bold;
      color: #fff;
      transition: color 0.3s ease;
    }


  }

  .search {
    width: auto;
    border: 1px solid #808080;
    font-size: 0.8em;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    margin-top: 4%;
    float: right;
    transition: border 0.3s ease;


    input {
     float:left;
     color: #808080;
     font-size: 1em;
     transition: color 0.3s ease;
     line-height:1.5;
    }

    &:hover input, input:focus {
      color: #fff
    }

    &:hover {
      border: 1px solid #fff;
    }
  }
}


.search {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  color: #7b7b7b;
  background: none;
  padding: 5px 9px 5px 9px;
  overflow: auto;
  vertical-align:middle;

  input {
    float: left;
    border: 0;
    outline: none;
    background: none;
    font-size: 1.5em;
    font-family: $font;
    line-height:1.5;
    font-weight:bold;
  }

  button {
    float: right;
    background: none;
    border: 0;
    margin: 0;
    color: #7b7b7b;
    line-height:1.5;

    &:hover {
      cursor: pointer;
    }
  }
}

aside {
  float: right;
  width: 30%;
}

aside .text {
  font-size:0.8*$fontSize;
}


.intro {
  background: #f2f2f2;
  padding: 30px $padding 20px $padding;
  color: #666;
  overflow:auto;

  .button {
    float: right;
  }
}

footer {
  background: #1892b1;
  color: #afdde9;
  padding: 4% $padding 4% $padding;

  ul {
    display: inline-block;
    padding: 0px;
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
  }

  li {
    display: inline-block;
    margin-right: 25px;
    transition: background 0.3s ease;

    a {
    color: #afdde9;
    text-decoration: none;

    &:hover {
    color: #fff;
    }
  }

  }

  a {
    color: #004455;

    &:hover {
      color: #fff;
    }
  }


  .tocsin {
    font-family: "chunkfive";
  }
}

article, .heading {
  background:#fff;
  padding: 3% $padding 5% $padding;
  color: #666;
  font-size: 1.3*$fontSize;
  overflow: auto;
}

hr {
  height: 1px;
  border: 0px;
  background: #999;
  margin: 4% auto 4% auto;
}


.row {
  background:#fff;
  clear: both;
  overflow: hidden;
}

.row article {
  vertical-align: top;
  display:inline-block;
  overflow:auto;
  //border-top: 1px solid #ececec;
}

.row.two article {
    width:50%;
}

.row.three article {
    width:33.33%;
}

.row.two article:nth-child(odd)  {
  padding-right:5%;
}

.row.two article:nth-child(even)  {
  padding-left:5%;
}

.row.two article:nth-child(n+3) {
  //border-top: 1px solid #ececec;
}


.row.three article:nth-child(3n+1)  {
  padding-right:0%;
  padding-left:15%;
}

.row.three article:nth-child(3n+2)  {
  padding-left:7.5%;
  padding-right:7.5%;
}

.row.three article:nth-child(3n+3)  {
  padding-left:0%;
  padding-right:15%;
}

h1, h2 {
  color: #4d4d4d;
  font-weight: bold;
}

h1 {
  font-size: 2*$fontSize;
}

.button, .meta span {
  color: #b3b3b3;
  padding: 5px 15px 5px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size:0.7em;
  font-weight:bold;
  transition: color 0.3s ease, border 0.3s ease;
}

a .button {
  display:inline-block;
  margin-bottom:0.5em;
}

a:hover .button {
  color: #808080;
  border: 1px solid #808080;
}

.meta {
  display: block;
  line-height: 0.8*$fontSize;
  margin-top: 0;

  .date {
    background: #f9f9f9;
    margin-right:15px;
  }
}

.readon {
  a {
    font-weight: bold;
  }
}


.text {
  text-align: justify;
  line-height: 1.5*$fontSize;
}

.playlist {
  line-height: 1.5*$fontSize;
  float: left;
  width: 60%;
  font-size: 0.9*$fontSize;
}

img {
  max-width: 100%;
}

a {
  color: #37abc8;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #000;
  }

  h1, h2, h3 {
    display: inline-block;
    transition: color 0.3s ease;
  
    &:hover {
      color: #000;
    }
  }
}

.pages {
  margin: 20px 0 20px 0;
  padding: 0;

  li {
    vertical-align: top;
    display: inline-block;
    background: #fff;
    margin-right: 10px;

    a {
      display: block;
      padding: 10px 25px 10px 25px;
      font-weight: bold;
      transition: background 0.3s ease;
    }

    a:hover {
      background: #0088aa;
      color: #fff;
    }
  }

  .active a {
    display: inline-block;
    background: #0088aa;
    color: #fff;
  }
}

.prev, .next, .fullimage {
  background: #0088aa;
  background-size: cover !important;
  background-position: 50% 50% !important; 
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  display:inline-block;

  &:hover span {
    opacity: 1;
  }
}

.fullimage {
  width: 100%;
  padding: 5% $padding 5% $padding;
  display: block;
  overflow: auto;
}

.prev.full, .next.full {
  width: 100%;
}

.prev span, .next span, .fullimage span {
  display: inline-block;
  background: #fff;
  padding: 10px $padding/2 10px $padding/2;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  color:#666;
  text-align: center;
}

.prev {
  vertical-align:top;
  padding-left: $padding;
}

.next {
  vertical-align:top;
  padding-right: $padding;
  text-align: right;
}

blockquote {
  font-style: italic;
  border-left: 4px solid #e6e6e6;
  background: #f9f9f9;
  padding: 2% 3% 2% 3%;
}

pre {
  background: #f9f9f9;
  padding: 2% 3% 2% 3%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ml {
  margin-left: 15px;
}

.mr {
  margin-right: 15px;
}

ul, ol {
  text-align: left;
}

iframe {
  width: 100%;
  border: 0px;
}

iframe.spotify {
  height: 80px
}


@media screen and (max-width: 1100px) {
  $width: 90%;
  $padding: 10%;

  header, nav, article, footer, .intro, .heading, .prev, .next, .fullimage {
    padding-left: $padding;
    padding-right: $padding;
  }

  body {
    width: $width;
  }

  .next, .prev {
    width: 100%;
  }

  .row.three article {
    width: 50%;
    display:inline-block;
  }

  .row.three article:nth-child(odd) {
    padding-left:$padding !important;
    padding-right:$padding/2 !important;
  }

  .row.three article:nth-child(even)  {
    padding-right:$padding !important;
    padding-left:$padding/2 !important;
  }

}

@media screen and (max-width: 800px) {
  $width: 100%;
  $padding: 5%;

  body {
    width:$width;
    margin-top:0;
    margin-bottom:0
  }

  header, nav, article, footer, .intro, .heading, .prev, .next, .fullimage {
    padding-left: $padding;
    padding-right: $padding;
  }

  .row.two article {
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    display: block;
    //border-top: 1px solid #ececec;
  }

  .row.two article:nth-child(1) {
    //border-top: 0;
  }

  .row.three article:nth-child(odd) {
    padding-left:$padding !important;
    padding-right:$padding/2 !important;
  }

  .row.three article:nth-child(even)  {
    padding-right:$padding !important;
    padding-left:$padding/2 !important;
  }

}

@media screen and (max-width: 700px) {
    $padding: 5%;

    header .logo svg {
      width: 15%;
      margin-right: 5%
    }

    .playlist, aside {width:100%}
    
    .row.three article {
    width: 100%;
    padding-left: $padding !important;
    padding-right: $padding !important;
    display: block;
    //border-top: 1px solid #ececec;
  }

  .row.three article:nth-child(odd) {
    padding-left:$padding !important;
    padding-right:$padding !important;
  }

  .row.three article:nth-child(even)  {
    padding-right:$padding !important;
    padding-left:$padding !important;
  }
}

@media screen and (max-width: 450px) {

}
