---
layout: default
---

<div class="intro">
  <strong>Willkommen!</strong><br/>
  Dies hier ist Teabot, mein kleiner Blog über Gecodetes, Musik, Serien und den ganzen anderen Kram.
</div>

<!--<div class="row two">-->
{% for post in site.posts %}<article>
  <a href="{{ post.url | relative_url }}" title="zum Blogeintrag"><h1>{{ post.title | escape }}</h1></a>
  <p class="meta">
    <span class="date" title="Datum der Veröffentlichung"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%d.%m.%y" }}</span>

    {% for tag in post.tags %}<span class="tag" title="Tag"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</span> {% endfor %}

  </p>

  <div class="text">
    {% if post.excerpt_separator %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}
  </div>

  <p class="readon"><a href="{{ post.url | relative_url }}" title="zum Blogeintrag">Artikel weiterlesen</a></p>
</article>{% endfor %}
<!--</div>-->