---
layout: default
---

<article>
	<h1>Playlists</h1>

	<div class="text">
		Ich mag Musik und lege gerne Playlisten zu verschiedenen Themen an.
		<p>Vielen Dank an <a href="https://felixdoering.com/" target="_blank" title="Felix' Blog">Felix</a>, er stellt diese Listen auf Apple Music zur Verfügung. Auch er besitzt hörenswerte Sammlungen, zu finden <a href="https://felixdoering.com/playlists/" target="_blank" title="Felix' Playlisten">genau hier</a>.</p>
	</div>
</article>

<div class="row three">
	{% for playlist in site.playlists %}<article>
	<a href="{{ playlist.url }}">
		<img src="/assets/img/playlists/{{ playlist.image }}" alt="{{ playlist.title }}" title="{{ playlist.title }}">
		<h2>{{ playlist.title }}</h2>
	</a>
	<br/>{% if playlist.spotify %}<a href="{{ playlist.spotify }}" target="_blank" title="öffnet die Playlist auf Spotify"><span class="button"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</span></a>{% endif %}{% if playlist.applemusic %}<br/><a href="{{ playlist.applemusic }}" target="_blank" title="öffnet die Playlist auf Apple Music"><span class="button"><i class="fa fa-apple" aria-hidden="true"></i> Apple Music</span></a>{% endif %}{% if playlist.youtube %}<br/><a href="{{ playlist.youtube }}" target="_blank" title="öffnet die Playlist auf YouTube"><span class="button"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</span></a>{% endif %}{% if playlist.soundcloud %}<br/><a href="{{ playlist.soundcloud }}" target="_blank" title="öffnet die Playlist auf SoundCloud"><span class="button"><i class="fa fa-soundcloud" aria-hidden="true"></i> SoundCloud</span></a>{% endif %}

</article>{% endfor %}
</div>
