---
layout: default
---

<article>
	<h1>Playlists</h1>

	<div class="text">
		Ich mag Musik und lege gerne Playlisten zu verschiedenen Themen an.
		<p>Vielen Dank an <a href="https://felixdoering.com/" rel="noopener" target="_blank" title="Felix' Blog">Felix</a>, er stellt diese Listen auf Apple Music zur Verfügung. Auch er besitzt hörenswerte Sammlungen, zu finden <a href="https://felixdoering.com/playlists/" rel="noopener" target="_blank" title="Felix' Playlisten">genau hier</a>.</p>
	</div>
</article>

<div class="row three">
	{%- for playlist in site.playlists  %}<article>
		<a href="{{ playlist.url }}">
			{% if playlist.image %}<img src="/assets/img/playlists/{{ playlist.image }}" alt="{{ playlist.title }}" title="{{ playlist.title }}" />{% endif %}
			<h2>{{ playlist.title }}</h2>
		</a><br/>
		{% if playlist.spotify %}<a href="{{ playlist.spotify }}" rel="noopener" target="_blank" title="Playlist auf Spotify anhören"><span class="button"><i class="fab fa-spotify fa-lg"></i> <!--Spotify --></span></a>{% endif %}
		{% if playlist.applemusic %}<a href="{{ playlist.applemusic }}" rel="noopener" target="_blank" title="Playlist auf Apple Music anhören"><span class="button"><i class="fab fa-apple fa-lg"></i> <!--Apple Music--></span></a>{% endif %}
		{% if playlist.youtube %}<a href="{{ playlist.youtube }}" rel="noopener" target="_blank" title="Playlist auf YouTube anhören"><span class="button"><i class="fab fa-youtube fa-lg"></i> <!--YouTube--></span></a>{% endif %}
		{% if playlist.soundcloud %}<a href="{{ playlist.soundcloud }}" rel="noopener" target="_blank" title="Playlist auf SoundCloud anhören"><span class="button"><i class="fab fa-soundcloud fa-lg"></i><!-- SoundCloud--></span></a>{% endif %}
	</article>{% endfor -%}
</div>