---
layout: default
---

<div class="fullimage" style="background-image:url('/assets/img/playlists/{% if page.bgimage %}{{ page.bgimage }}{% else %}{{ page.image }}{% endif %}')">

	{% if page.previous.url %}<a href="{{ page.previous.url }}" title="← zur vorherigen Playlist"><span>← {{ page.previous.title }}</span></a>{% endif %}
	{% if page.next.url %}<a href="{{ page.next.url }}" title="zur nächsten Playlist →"><span class="fr">{{ page.next.title }} →</span></a>{% endif %}

</div>

<article>

	<h1 itemprop="name headline">{{ page.title }}</h1>

	<div class="playlist">
		{{ content }}
	</div>

	<aside>

		{% if page.image %}<img src="/assets/img/playlists/{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}" />{% endif %}

		<p class="text">
			<i>{{ page.description }}</i>
		</p>
		
		{% if page.spotify %}<p>
			<iframe class="spotify" src="https://embed.spotify.com/?uri=spotify:user:letslistentogether:playlist:{{ page.spotify }}&theme=white"></iframe>
		</p>{% endif %}
		<p>
			{% if page.spotify %}<a href="{{ page.spotify }}" target="_blank" title="öffnet die Playlist auf Spotify"><span class="button"><i class="fab fa-spotify"></i> Spotify</span></a>{% endif %}
			{% if page.applemusic %}<br/><a href="{{ page.applemusic }}" target="_blank" title="öffnet die Playlist auf Apple Music"><span class="button"><i class="fab fa-apple"></i> Apple Music</span></a>{% endif %}
			{% if page.youtube %}<br/><a href="{{ page.youtube }}" target="_blank" title="öffnet die Playlist auf YouTube"><span class="button"><i class="fab fa-youtube-play"></i> YouTube</span></a>{% endif %}
			{% if page.soundcloud %}<br/><a href="{{ page.soundcloud }}" target="_blank" title="öffnet die Playlist auf SoundCloud"><span class="button"><i class="fab fa-soundcloud"></i> SoundCloud</span></a>{% endif %}
		</p>

	</aside>
</article>

{% include nextprev.html imgSubfolder="/playlists" %}