---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title | escape }}</h1>

  <p class="meta">
    <span title="Datum der Veröffentlichung"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datedate">{{ page.date | date: "%d.%m.%y" }}</time></span>
    {% for tag in page.tags %}<span class="tag" title="Tag"><i class="fas fa-tag"></i> {{ tag }}</span> {% endfor %}
  </p>

  <div class="text" itemprop="articleBody">
    {{ content }}
  </div>
</article>

{% include nextprev.html %}